body {
  width: 1200px;
  max-width: 100%;
}
.cardContainer {
  width: 1200px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  text-align: center;
  margin-right: 20px;
}

.card img {
  width: 500px;
  height: 300px;
}

.card__name {
    font-size: 36px;
    font-weight: 700;
}
.card__price{
    font-size: 24px;
    color: #f00;
    background-color: #ff0;
}