.wrapper{
    margin-left: 50px;
    margin-top: 20px; 
}

.btn:hover, .btn  { 
    background: #b39ddb;
}

.button{
    margin-left: -3px;
    padding: 20px;
}
.div-one{
    margin-bottom: 8px;
    
}
.divs{
    font-size: 20px;
    font-weight: 500;
}
